{{ define "content" }}
<div class="container">
    <p> All Posts</p>
</div>
<table class="table">
	<thead class="thead-dark">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>View</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	</thead>
	<tbody>
  {{ range .Posts }}
	<tr>
		<th scope="col">{{ .Id }}</th>
		<th scope="col"> {{ .Title }} </th>
		<th scope="col"><a href="/show?id={{ .Id }}">View</a></th>
		<th scope="col"><a href="/edit?id={{ .Id }}">Edit</a></th>
		<th scope="col"><a href="/delete?id={{ .Id }}">Delete</a><td>
	</tr>
  {{ end }}
	</tbody>
</table>
{{ end }}