<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">

  	<title>Blog</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/new/">Create Post</a>
			</li>
	{{ if .IsAuthenticated }}
			<li class="nav-item">
				<a class="nav-link" href="/logout/">Logout</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile/">{{ .Author.name }}</a>
			</li>
	{{ else }}
			<li class="nav-item">
				<a class="nav-link" href="/login/">Login</a>
			</li>
	{{ end }}
		</ul>
	</div>
</nav>
<div class="container">

{{ block "content" . }}{{ end }}

</div> <!-- /container -->

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>